{
  "root": true,
  "ignorePatterns": [
    "files/",
    "/general/src/",
    "/general/bld/",
    "/typescript/src/",
    "/typescript/bld/",
    "/power-app/src/",
    "/power-app/bld/",
    "/digshare-script/src/",
    "/digshare-script/bld/"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  }
}
