{
  "root": true,
  "ignorePatterns": [
    "/general/src/",
    "/general/bld/",
    "/typescript/src/",
    "/typescript/bld/"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  }
}
