*
!/general/src/composables/**/*.{ts,tsx}
!/general/bld/composables/**
!/general/src/library/**/*.{ts,tsx}
!/general/bld/library/**
!/typescript/src/composables/**/*.{ts,tsx}
!/typescript/bld/composables/**
!/typescript/src/library/**/*.{ts,tsx}
!/typescript/bld/library/**
!/power-app/src/composables/**/*.{ts,tsx}
!/power-app/bld/composables/**
*.tsbuildinfo
