*
!/general/src/composables/**/*.ts
!/general/bld/**
!/general/src/library/**/*.ts
!/general/bld/**
!/typescript/src/composables/**/*.ts
!/typescript/bld/**
!/typescript/src/library/**/*.ts
!/typescript/bld/**
!/power-app/src/composables/**/*.ts
!/power-app/bld/**
!/digshare-script/src/composables/**/*.ts
!/digshare-script/bld/**
!/digshare-script/src/library/**/*.ts
!/digshare-script/bld/**
*.tsbuildinfo
